#header-nav {
   background-color: aquamarine;
   border-radius: 0;
   border: 0;
}

.navbar-toggler{
    position: relative;
    float: right;
    background-color:blue ;
    background-image: none;
    border: 1px solid;
    border-radius: 3px;
}

@media (min-width: 768px) {
    .navbar-toggler{
        display: none;
    }
}